<div class="row">
	<div class="col-md-10">
<!-- 		<ol class="breadcrumb"> -->
<!-- 			<li ng-repeat="crumb in breadcrumbs" ng-class="{ active: $last }"><a -->
<!-- 				ui-sref="{{ crumb.route }}" ng-if="!$last">{{ crumb.displayName -->
<!-- 					}}&nbsp;</a><span ng-show="$last">{{ crumb.displayName }}</span></li> -->
<!-- 		</ol> -->
	</div>
	<div class="col-md-2" style="padding-top: 35px">
		<ol>
<!-- 			<li ng-repeat="crumb in breadcrumbs" class="pull-right"><a -->
<!-- 				ui-sref="{{ crumb.route }}" ng-if="$index===(breadcrumbs.length-2)"><button -->
<!-- 						aria-hidden="true" style="color: #438EA9; background-color: #fff;" -->
<!-- 						ng-click="nextPage()" data-toggle="tooltip" -->
<!-- 						title="Click to go Back"> -->
<!-- 						<i class="fa fa-arrow-circle-left"></i>&nbsp;Back&nbsp; -->
<!-- 					</button></a></li> -->
		</ol>
	</div>
</div>